* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background: #8C858E;
}

#left-eye, #right-eye {
      animation: open-eye 2s infinite forwards;
      animation-delay: 2s;
      opacity: 0;
}

#letter, #rigth-arm {
  animation: move 3s infinite alternate ease-in-out;
   animation-delay: 2s;
}

@keyframes open-eye {
  50% {
    opacity: 0;
  }
   55% {
    opacity: 0.9;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
   
@keyframes move {
  to {
  transform: rotate(3deg);
  }
  }
